@{
    ViewBag.Title = "Редактировать книгу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/admin.css" rel="stylesheet" />
@model Gallery1.Models.ArtWork
<h2>Арт № @Model.Id</h2>

@using (Html.BeginForm("EditArts", "Admin", FormMethod.Post))
{
    <div class="admin">
        <div class="admin-right">
            <fieldset>
                @Html.HiddenFor(m => m.Id)
                <p>
                    @Html.LabelFor(model => model.WorkName, "Название арта")
                    <br />
                    @Html.EditorFor(model => model.WorkName)
                </p>
                <p>
                    @Html.LabelFor(model => model.OriginWorkName, "Настоящие название арта")
                    <br />
                    @Html.EditorFor(model => model.OriginWorkName)
                </p>
                <p>
                    @Html.LabelFor(model => model.CreationDate, "Дата создания")
                    <br />
                    @Html.EditorFor(model => model.CreationDate)
                </p>
                <p>
                    @Html.LabelFor(model => model.Description, "Описание арта")
                    <br />
                    @Html.EditorFor(model => model.Description)
                </p>
                <p>
                    @Html.LabelFor(model => model.Size, "Размер арта")
                    <br />
                    @Html.EditorFor(model => model.Size)
                </p>
                <p>
                    @Html.LabelFor(model => model.Price, "Цена арта")
                    <br />
                    @Html.EditorFor(model => model.Price)
                </p>
                <p><input type="submit" value="Отправить" /></p>
            </fieldset>
        </div>
        <div class="admin-center">
            <fieldset>
                <p>
                    @Html.ActionLink("Create new type", "CreateType")
                    @Html.LabelFor(model => model.TypeId, "Внешний ключ типа арта")
                    <br />
                    @Html.EditorFor(model => model.TypeId)
                </p>
                <p>
                    @Html.ActionLink("Create new author", "CreateAuthor")
                    @Html.LabelFor(model => model.AuthorId, "Внешний ключ автора арта")
                    <br />
                    @Html.EditorFor(model => model.AuthorId)
                </p>
                <p>
                    @Html.ActionLink("Create new type", "CreateGenre")
                    @Html.LabelFor(model => model.GenreId, "Внешний ключ жанра")
                    <br />
                    @Html.EditorFor(model => model.GenreId)
                </p>
                <p>
                    @Html.ActionLink("Create new type", "CreateSchool")
                    @Html.LabelFor(model => model.SchoolId, "Внешний ключ школы арта")
                    <br />
                    @Html.EditorFor(model => model.SchoolId)
                </p>
                <p>
                    @Html.ActionLink("Create new type", "CreateTechnique")
                    @Html.LabelFor(model => model.TechniqueId, "Внешний ключ технологии создания арта")
                    <br />
                    @Html.EditorFor(model => model.TechniqueId)
                </p>
                <p>
                    @Html.ActionLink("Create new type", "CreateLocation")
                    @Html.LabelFor(model => model.LocationId, "Внешний ключ для хранения работы")
                    <br />
                    @Html.EditorFor(model => model.LocationId)
                </p>
            </fieldset>
        </div>
        <div class="admin-upload-img">

        </div>
    </div>
}