<link href="~/Content/StyleAdminPage.css" rel="stylesheet" />
@model Gallery1.Models.EditModel

@{
    ViewBag.Title = "Редактировать книгу";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Арт: @Model.ArtWorks.WorkName</h2>
<link rel="icon" href="@Url.Content("~/image/4.ico")" />

@using (Html.BeginForm())
{

    <div class="form-group col-lg-10">
        <div>
            @Html.HiddenFor(m => m.ArtWorks.Id)
            <label>Название арта:</label>
            <div class="form-group">
                @Html.TextBoxFor(model => model.ArtWorks.WorkName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Оригинальное название арта:</label>
                @Html.TextBoxFor(model => model.ArtWorks.OriginWorkName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Дата создания:</label>
                @Html.TextBoxFor(model => model.ArtWorks.CreationDate, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Описание:</label>
                @Html.TextAreaFor(model => model.ArtWorks.Description, new { @class = "form-control", rows = 6 })
            </div>
            <div class="form-group">
                <label>Размер:</label>
                @Html.TextBoxFor(model => model.ArtWorks.Size, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Цена:</label>
                @Html.TextBoxFor(model => model.ArtWorks.Price, new { @class = "form-control" })
            </div>
            <input type="submit" value="Отправить" class="btn btn-primary" />
        </div>

    </div>
    <div class="first_col">
        <div class="container">
            <label>Другие функции:</label>
            <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                            <div class="col-xs-5">
                                Выберите тип
                            </div>
                            <div><i class="fa fa-chevron-down pull-right"></i></div>
                        </div>
                        <div id="detail-1">
                            <hr>
                            <div class="container">
                                <div class="fluid-row">
                                    @Html.ActionLink("Создать новый тип  ", "CreateType")<img src="~/image/4.ico" /><br />
                                    @Html.EditorFor(model => model.ArtWorks.TypeId)<br />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row toggle" id="dropdown-detail-2" data-toggle="detail-2">
                            <div class="col-xs-5">
                                Выберите автора
                            </div>
                            <div><i class="fa fa-chevron-down pull-right"></i></div>
                        </div>
                        <div id="detail-2">
                            <hr>
                            <div class="container">
                                <div class="fluid-row">
                                    @Html.ActionLink("Создать нового автора  ", "CreateAuthor")<img src="~/image/4.ico" /><br />
                                    @Html.DropDownList("Author", new SelectList(Model.Authors.ToList()))<br />
                                    @Html.LabelFor(model => model.ArtWorks.AuthorId, "")<br />
                                    @Html.EditorFor(model => model.ArtWorks.AuthorId)<br />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>




        @*<div class="form-group">
                <label>Выберите тип</label><hr />
                @Html.ActionLink("Create new type", "CreateType")
                @Html.EditorFor(model => model.ArtWorks.TypeId)
            </div>*@
        @*<div>
                <label>Выберите автора</label><hr />
                @Html.ActionLink("Create new author", "CreateAuthor")
                @Html.DropDownList("Author", new SelectList(Model.Authors.ToList()))<br />
                @Html.LabelFor(model => model.ArtWorks.AuthorId, "")
                @Html.EditorFor(model => model.ArtWorks.AuthorId)
            </div>

            <details>
                <summary>Выберите жанр</summary>
                <p>
                    @Html.ActionLink("Create new type", "CreateGenre")
                    <br />
                    @Html.LabelFor(model => model.ArtWorks.GenreId, "Внешний ключ жанра")
                    <br />
                    @Html.EditorFor(model => model.ArtWorks.GenreId)
                </p>
            </details>
            <br />
            <details>
                <summary>Выберите школу</summary>
                <p>
                    @Html.ActionLink("Create new type", "CreateSchool")
                    <br />
                    @Html.LabelFor(model => model.ArtWorks.SchoolId, "Внешний ключ школы арта")
                    <br />
                    @Html.EditorFor(model => model.ArtWorks.SchoolId)
                </p>
            </details>
            <br />
            <details>
                <summary>Выберите технику</summary>
                <p>
                    @Html.ActionLink("Create new type", "CreateTechnique")
                    <br />
                    @Html.LabelFor(model => model.ArtWorks.TechniqueId, "Внешний ключ технологии создания арта")
                    <br />
                    @Html.EditorFor(model => model.ArtWorks.TechniqueId)
                </p>
            </details>
            <br />
            <details>
                <summary>Выберите локацию</summary>
                <p>
                    @Html.ActionLink("Create new type", "CreateLocation")
                    <br />
                    @Html.LabelFor(model => model.ArtWorks.LocationId, "Внешний ключ для хранения работы")
                    <br />
                    @Html.EditorFor(model => model.ArtWorks.LocationId)
                </p>
            </details>*@
    </div>

    <div class="second_col">
        <div class="container">
            <img id="blah" src="~/image/2.png" alt="your image" />
            <div class="row">
                <input type='file' onchange="readFile(this);" />
            </div>
        </div>
    </div>
}

@*Скрипт для дропбара и загрузки фото*@
<script>
    $(document).ready(function () {
        $('[id^=detail-]').hide();
        $('.toggle').click(function () {
            $input = $(this);
            $target = $('#' + $input.attr('data-toggle'));
            $target.slideToggle();
            if ($input.find('.col-xs-2 i').attr('class') == "fa fa-chevron-down pull-right") {
                $input.find('.col-xs-2 i').removeClass('fa-chevron-down');
                $input.find('.col-xs-2 i').addClass('fa-chevron-up');
            }
            else if ($input.find('.col-xs-2 i').attr('class') == "fa pull-right fa-chevron-up") {
                $input.find('.col-xs-2 i').removeClass('fa-chevron-up');
                $input.find('.col-xs-2 i').addClass('fa-chevron-down');
            }
            else if ($input.find('.col-xs-2 i').attr('class') == "fa pull-right fa-chevron-down") {
                $input.find('.col-xs-2 i').removeClass('fa-chevron-down');
                $input.find('.col-xs-2 i').addClass('fa-chevron-up');
            }

        });
    });

    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
