@using PagedList.Mvc;
@model PagedList.IPagedList<Gallery1.Models.ArtWork>
<link href="~/Content/StyleGallery.css" rel="stylesheet" />

@{
    ViewBag.Title = "Представленные работы";
}

<h2>Представленные работы</h2>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="column">
            <div class="row">
                <div class="col-lg-4">
                    <div class="our-team-main">
                        <div class="team-front">
                            <img src="http://placehold.it/110x110/9c27b0/fff?text=Dilip" class="img-fluid" />
                            <h3>@Html.DisplayFor(modelItem => item.WorkName)</h3>
                            <p>@Html.DisplayFor(modelItem => item.OriginWorkName)</p>
                        </div>
                        <div class="team-back">
                            <span>
                                @Html.DisplayFor(modelItem => item.Description)
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    }
</div>

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))